<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rookie.CustomerSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Rookie.CustomerSite.styles.css" asp-append-version="true" />
    
    
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Animation -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    @*style.css*@
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">            
                    <img src="../image/logo-2.png" alt="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between header__content">
                    <nav>
                        <ul class="navbar-nav flex-grow-1 ml-auto menus">
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><span>Bespoke</span></a>
                                <ul class="dropdown__content">
                                    <li><a href="#">Cakes</a></li>
                                    <li><a href="#">Treats</a></li>
                                    <li><a href="#">Toppers</a></li>
                                    <li><a href="#">Weddings</a></li>
                                    <li><a href="#">Dessert Tables </a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><span>Signature Cakes</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><span>Cupcakes</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><span>Petit</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><span>Bread & Pastries</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><span>Sweet Treats</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><span>Hampers</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><span>About Us</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header__button">
                    @*<button><i class="fas fa-search"></i>Search</button>*@
                    <input type="text" name="search" placeholder="Search..">
                    <button><i class="fas fa-shopping-cart"></i>Cart</button>
                    <button>Account</button>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            <div class="footer__container">
            <div
              class="footer__subcribe wow animate__animated animate__fadeInUp"
              data-wow-duration="2s"
              data-wow-delay="0.2s"
            >
              <div class="subcribe__content">
                <div class="subcribe__item">
                  <h2 class="font__poppins">Subscribe To Our Newsletter</h2>
                </div>
                <div class="subcribe__item">
                  <div class="item__form">
                    <form action="#">
                      <input type="email" placeholder="Your Email Address" />
                      <button><i class="las la-paper-plane scale4"></i></button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="footer__info">
        <div class="info__item1">
            <div class="info__logo wow animate__animated animate__fadeInUp">
            <a href="#">                    
                <img src="../image/logo-white.png" alt="logo" />
            </a>
            </div>
            <div
            class="info__widget wow animate__animated animate__fadeInUp"
            data-wow-duration="2s"
            data-wow-delay="0.2s"
            >
            <ul>
                <li>
                <i class="fab fa-facebook-f"></i>
                </li>
                <li>
                <i class="fab fa-instagram"></i>
                </li>
                <li>
                <i class="fab fa-twitter"></i>
                </li>
            </ul>
            </div>
        </div>
        <div class="info__item">
            <div
            class="info__widget wow animate__animated animate__fadeIn"
            data-wow-duration="2s"
            data-wow-delay="0.4s"
            >
            <h5>Location</h5>
            <ul>
                <li>
                <p>
                    <strong>Landmark</strong> 
                    <br />
                    Shop 303, Landmark
                    <br />
                    Monday - Friday: 10:30am - 7:30pm
                    <br />
                    Saturday: 11:00am - 7:30pm
                    <br />
                    Sunday and Public Holidays: 11:00am - 7:00pm
                    <br />
                    Tel: 6683 3833
                </p>
                </li>
                <li>
                <p>
                    <strong>Lee Garden</strong>
                    <br />
                    Shop 124, Lee Garden Two
                    <br />
                    Monday - Saturday: 10:00am - 7:30pm
                    <br />
                    Sunday & Public Holidays: 10:00am - 7:00pm
                    <br />
                    Tel: 2816 1838
                </p>
                </li>
                <li>
                    <p>
                    <strong>City'Super ifc Mall</strong>
                    <br />
                    Shop 1041-1049, 1/F, ifc Mall,, 8 Finance St, Central
                    <br />
                    Monday – Sunday & Public Holidays 10:00am – 10:00pm
                    <br />
                    Tel: 2234 2804
                    </p>
                </li>
                <li>
                    <p>
                    <strong>City'Super Times Square </strong>
                    <br />
                    Times Square Basement 1, Causeway Bay
                    <br />
                    Monday – Sunday & Public Holidays 10:00am – 10:00pm
                    <br />
                    Tel: 2917 7213
                    </p>
                </li>
            </ul>
            </div>
        </div>
        <div class="info__item">
            <div
            class="info__widget wow animate__animated animate__fadeIn"
            data-wow-duration="2s"
            data-wow-delay="0.6s"
            >
            <h5>Custom Service</h5>
            <ul>
                <li><a href="#">My order</a></li>
                <li><a href="#">Delivery</a></li>
                <li><a href="#">Payments</a></li>
                <li><a href="#">Warranty & quality</a></li>
                <li><a href="#">Brexit</a></li>
            </ul>
            </div>
        </div>
        </div>
        </div>
    </footer>
        <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
