body {
    list-style: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 100;
    background: #fff;
    /* box-shadow: 0 0 50px 0 rgb(0 0 0 / 10%);
    background: #00000000;
    z-index: 99; */
}

.header {
    width: 60%;
    padding: 20px 0;
    margin: auto;
}

header nav container-fluid a{
    display : block;
}

header nav {
    padding: 20px 0;
}

header nav ul li {
    display: inline-block;
    position: relative;
    padding: 35px 15px;
}

header nav ul li a {
    font-size: 15px;
    color: #262F5A;
    font-weight: bold;
}

.dropdown {
    color: #070120;
}

.dropdown__content li {
    padding: 10px 25px;
    margin-right: 0;
    cursor: pointer;
    position: relative;
}

.dropdown__content li a {
    padding: 0;
}

header nav > ul > li:hover .dropdown {
    color: #dd3e6e;
}

header nav > ul > .dropdown:hover span {
    animation: upDown 0.5s forwards;
    display: inline-block;
}

@keyframes upDown {
    49% {
        transform: translateY(100%);
    }

    50% {
        opacity: 0;
        transform: translateY(-100%);
    }

    51% {
        opacity: 1;
    }
}

.dropdown > .dropdown__content {
    display: block;
    background-color: #fff;
    list-style: none;
    opacity: 0;
    padding: 5px 0;
    position: absolute;
    visibility: hidden;
    width: 220px;
    z-index: 10;
    box-shadow: 0px 1px 40px 0px rgb(0 0 0 / 10%);
    transition: all 0.8s;
}

.dropdown__content li {
    display: block;
    position: relative;
}

.dropdown__content a {
    position: relative;

}

.dropdown:hover > .dropdown__content,
.dropdown__content:hover {
    display: block;
    opacity: 1;
    visibility: visible;
    margin-top: 40px;
    transition: all 1s;
    position: absolute;
    left: -15px;
}
.dropdown__content li:hover {
    background-color: #F2F2F2;
    padding: 10px 20px 10px 35px;
    transition: all 0.5s;
}
.dropdown__content > li > a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background: #f55f8d;
    transition: all 0.3s;
    top: 8px;
    left: -14px;
}
.dropdown__content > li:hover > a::after {
    width: 10px;
}
.dropdown__content li > a {
    color : #000;
}
.dropdown__content li:hover > a {
    color: #dd3e6e;
    text-decoration: none;
}
input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}


input[type=text]:focus-visible {
    width: 200px;
}
input[type=text]:focus-visible{
    border: 2px solid #f55f8d;
}
header .header__button {
    float: right;
}
.header__button button {
    padding: 12px 20px 12px 20px;
    background: #fff;
    border: 2px solid #ccc;
}
.header__button button:last-of-type {
    padding: 20px 30px;
    border-radius: 30px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-size: 200%;
    transition: all 0.5s;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
}
.header__button button i{
    margin-right: 10px
}
.header__button button:hover:last-of-type {
    background-position: right center;
}

.navbar-collapse {
    flex-grow: 0;
}
footer  {
    background-image: url(./img/bg4.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative!important;
    background-color: #0e1b1f;
    background-size: contain;
    z-index: 1;
}

footer::before {
    content: "";
    background-image: url(./img/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.footer__container {
    width: 60%;
    margin: auto;
}

.footer__container {
    padding: 0 15px;
}

.footer__subcribe {
    padding: 50px 60px;
    background-color: #fff;
    z-index: 5;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0px 30px 0 rgb(0 0 0 / 10%);
    background-image: url(./img/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.subcribe__content {
    display: flex;
    margin: auto;
    align-items: center;
}

.subcribe__item {
    width: 50%;
}

.subcribe__content h2 {
    font-size: 28px;
    margin-bottom: 8px;
}

.footer__subcribe .item__form {
    padding: 0 15px;
}

.footer__subcribe form {
    display: flex;
}

.footer__subcribe form input {
    border: 1px solid #fff;
    border-radius: 8px 0 0 8px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    border: none;
    height: 60px;
    width: 80%;
    transition: all 0.8s ease-in-out;
}

.footer__subcribe form input:hover {
    border: 1px solid #f55f8d;
}

.footer__subcribe form button {
    width: 20%;
    padding: 20px 30px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-size: 200%;
    transition: all 0.5s;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
}

.footer__subcribe form button:hover {
    background-position: right center;
}

.footer__info {
    display: flex;
    width: 60%;
    margin: auto;
    padding: 70px 0 30px;
}

.info__item, .info__item1 {
    width: 33.33%;
    padding: 0 15px;
}
.info__item .info__widget ul, 
.info__item1 .info__widget ul{
    padding-left:0px;
}
.info__logo {
    margin-bottom: 25px;
}

.info__item1 ul li i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background-size: 200%;
    color: #fff;
    transition: all 0.5s;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    border-radius: 50px;
}

.info__item1 ul li i:hover {
    background-position: right center;
}

.info__item1 ul li {
    display:inline-block;
    align-items: center;
    padding: 8px 0;
}

.info__item1 ul li span {
    font-size: 15px;
    opacity: 0.6;
    color: #fff;
}

.info__item h5 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}

.info__item h5::before {
    width: 15px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}

.info__widget h5::after {
    width: 45px;
    content: "";
    position: absolute;
    bottom: 0;
    left: 20px;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
.info__widget ul{
    list-style:none;
}
.info__widget ul li {
    padding: 8px 0 8px 15px;
    margin-bottom: 0;
    line-height: 20px;
}

.info__widget ul li p,
.info__widget ul li a {
    color: #fff;
    opacity: 0.6;
    position: relative;
    transition: all 1s;
    text-decoration:none;
}

.info__widget ul li p::before,
.info__widget ul li a::before{
    content: "\f105";
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    position: absolute;
    display: block;
    left: -15px;
    top: 2px;
}

.info__widget ul li p:hover,
.info__widget ul li a:hover{
    opacity: 1;
}


.backtotop {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    box-shadow: -4px 4px 24px -10px #f55f8d !important;
    background: #f55f8d;
    border-color: #f55f8d;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    display: block;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out {
    opacity: 1;
}

